pip install requests==2.25.1
pip install pywin32==227
pip install pynput==1.7.6
pip install scipy==1.7.3
pip install sounddevice==0.4.5
pip install cryptography==39.0.1
pip install pillow==9.5.0
